#h2 {
    color: rgb(64, 219, 219);
}

* {
    margin: 050;
    padding: 050;
    object-fit: cover;
}

body {
    font-size: 20px;
}

.banner {
    position: relative;
    width: 80%;
    margin: auto;
}

.banner img {
    width: 1000px;
    border-radius: 40px;
}

.head {
    color: rgb(64, 219, 219);
    position: ;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-shadow: 5px 5px 10px #000;
}

#p1 {
    color: white;
}

#p2 {
    text-shadow: 3px 3px 5px rgb(167, 49, 49), -3px -3px 5px rgb(49, 96, 167);
}

#d3 {
    color: hsl(60, 100%, 50%);
}

#d3:hover {
    color: hsl(60, 100%, 70%);
}

p::selection {
    color: rgb(59, 231, 59);
    background-color: #3a3a3a;
}

main {
    margin-left: 0px;
    margin-right: 50px;
}

body {
    margin: 0%;
}

#p3 {
    text-align: center;
}

#p2 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 24%);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.navbar li {
    float: left;
}

.gallery {
    display: inline-block;
    margin: 5px;
    border: 1px solid hsl(0, 0%, 60%);
    width: 200px;
    height: "200";
}

.gallery .description {
    padding: 10px;
    text-align: center;
    color: white;
}

.gallery:hover {
    border: 1px solid hsl(0, 0%, 21%);
}

.gallery img {
    width: 100%;
    height: auto;
}

.icons {
    text-align: center;
    font-size: small;
}

.icons a {
    text-decoration: none;
    margin-right: 50px;
}

.fa-solid.fa-house.fa-2xl {
    color: hsl(0, 0%, 67%);
}

.fa-solid.fa-house.fa-2xl:hover {
    color: hsl(0, 0%, 76%);
}


.fa-brands.fa-twitter.fa-2xl {
    color: hsl(188, 100%, 50%);
}

.fa-brands.fa-twitter.fa-2xl:hover {
    color: hsl(188, 100%, 40%);
}


.fa-brands.fa-youtube.fa-2xl {
    color: hsl(0, 84%, 49%);
}

.fa-brands.fa-youtube.fa-2xl:hover {
    color: hsl(0, 84%, 59%);
}

.fa-brands.fa-whatsapp.fa-2xl {
    color: hsl(120, 96%, 33%);
}

.fa-brands.fa-whatsapp.fa-2xl:hover {
    color: hsl(120, 96%, 43%);
}

.fa-brands.fa-tiktok.fa-2xl {
    color: hsl(0, 0%, 10%);
}

.fa-brands.fa-tiktok.fa-2xl:hover {
    color: hsl(0, 0%, 20%);
}

#image1 {
    width: 250px;
    border-radius: 250px;
    margin-left: 30%;
    margin-right: 30%;
}

.head1 {
    color: hsl(180, 61%, 23%);
    position: ;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-shadow: 5px 5px 10px hsl(0, 60%, 18%);
}

.head5 {
    color: rgb(64, 219, 219);
    position: ;
    top: 50%;
    width: 100%;
    text-align: left;
    font-size: 3rem;
    text-shadow: 5px 5px 10px #000;
}

#p4 {
    color: white;
    text-align: center;
}

#p8 {
    color: hsl(0, 0%, 73%);
}

@media screen and (max-width: 600px) {
    .head {
        top: auto;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .navbar a {
        padding: 4px;
    }

    .banner img {
        width: 278px;
        border-radius: 10px;
    }

    body {
        font-size: 9px;
    }

    #image1 {
        width: 100px;
        border-radius: 100px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .head1 {
        font-size: 8px;
    }

    .head5 {
        top: auto;
        width: 100%;
        font-size: 1rem;
    }

    main {
        width: 100%;
        font-size: 1rem;
        font-size: 8px;
    }

    main #image1 {
        border-radius: 250px;
        margin-left: 30%;
        margin-right: 30%;
    }

    .gallery {
        margin: 10px;
        width: 65px;
        height: "65";
    }
    
    .gallery .description {
    padding: 6px;
    }
    
    .icons {
    font-size: x-small;
    }


.icons a {
    margin-right: 20px;
}

}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .banner img {
        width: 660px;
        border-radius: 20px;
    }

    .head {
        font-size: 2rem;
        width: 90%;
        text-align: center;
    }

    .head5 {
        font-size: 2rem;
    }

    .navbar a {
        padding: 7px;
        text-align: center;
        display: block;
    }

    main #image1 {
        margin-left: 20%;
    }

    main {
        margin-left: 5%;
    }

    .gallery {
        margin: 8px;
        width: 200px;
        height: "200";
    }
    
    .gallery .description {
    padding: 5px;
    }
}
